@mixin flex-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-ac {
  display: flex;
  align-items: center;
}

@mixin flex-jc {
  display: flex;
  justify-content: center;
}

@mixin mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

@mixin text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin text-ellipsis-multi {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
